{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="referer" value="{{ app.request.headers.get('referer') }}"/>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
