{% extends 'base.html.twig' %}

{% block title %}{% trans %}Sub category transaction rule list{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'sub_category_transaction_rule'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Sub category transaction rule list{% endtrans %}</h1>

    <a type="button" class="btn btn-outline-primary" href="{{ path('sub_category_transaction_rule_new') }}">
        {% trans %}Create a new rule{% endtrans %}
    </a>

    <form id="filter-form" class="simple-filter-form" method="get" action=".">
        {{ form_rest(filter_form) }}
        <span>
            <input class="btn btn-primary" type="submit" name="submit-filter" value="{% trans %}Filter{% endtrans %}" />
        </span>
    </form>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>{% trans %}Contains{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Operator{% endtrans %}</th>
                <th>{% trans %}Transaction type{% endtrans %}</th>
                <th>{% trans %}Sub category{% endtrans %}</th>
                <th>{% trans %}Priority{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for sub_category_transaction_rule in sub_category_transaction_rules %}
            <tr>
                <td>{{ sub_category_transaction_rule.contains | capitalize }}</td>
                <td>
                    {{ sub_category_transaction_rule.amount }}
                    <em>{% if sub_category_transaction_rule.amount is null %}{% trans %}undefined{% endtrans %}{% endif %}</em>
                </td>
                <td>
                    {{ sub_category_transaction_rule.operator|trans }}
                    <em>{% if sub_category_transaction_rule.operator is null %}{% trans %}undefined{% endtrans %}{% endif %}</em>
                </td>
                <td>{{ sub_category_transaction_rule.subCategory.topCategory.transactionType }}</td>
                <td>{{ sub_category_transaction_rule.subCategory }}</td>
                <td>{{ sub_category_transaction_rule.priority }}</td>
                <td>
                    <a href="{{ path('sub_category_transaction_rule_edit', {'id': sub_category_transaction_rule.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}No rules found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
