{% extends 'base.html.twig' %}

{% block title %}SubCategoryTransactionRule{% endblock %}

{% block body %}
    <h1>SubCategoryTransactionRule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sub_category_transaction_rule.id }}</td>
            </tr>
            <tr>
                <th>Contains</th>
                <td>{{ sub_category_transaction_rule.contains }}</td>
            </tr>
            <tr>
                <th>Sub category</th>
                <td>{{ sub_category_transaction_rule.subCategory }}</td>
            </tr>
            <tr>
                <th>Transaction type</th>
                <td>{{ sub_category_transaction_rule.subCategory.topCategory.transactionType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sub_category_transaction_rule_index') }}">back to list</a>

    <a href="{{ path('sub_category_transaction_rule_edit', {'id': sub_category_transaction_rule.id}) }}">edit</a>

    {{ include('sub_category_transaction_rule/_delete_form.html.twig') }}
{% endblock %}
