{% extends 'base.html.twig' %}

{% block title %}{% trans %}Validate transactions{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'import_transaction'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Validate transactions{% endtrans %}</h1>

    {% if transactions is defined %}

        <div class="alert alert-info" role="alert">
            {{ transactions|length }} {% trans %}transactions to import{% endtrans %}
            {% set totalAmount = transactions|reduce((sum, transaction) => sum + transaction.amount, 0) %}
            ({% trans %}total amount is{% endtrans %} {{ totalAmount }}).
            {% trans %}New balance for account{% endtrans %} <strong>{{ accountName }}</strong> {% trans %}will be{% endtrans %} {{ totalAmount + accountBalance }}.
        </div>

        {% if existingTransactionCount > 0 %}
            <div class="alert alert-{{ existingTransactionCount == transactions|length ? 'danger' : 'warning' }}" role="alert">
                {{ existingTransactionCount }} {% trans %}of these transactions already exists!{% endtrans %}
                {% trans %}Are you sure you never imported this file?{% endtrans %}
            </div>
        {% endif %}

        {% if existingTransactionCount != transactions|length %}

            {% if existingTransactionCount > 0 %}
                <form method="post" action="{{ path('validate_transactions', {'statement': statement, 'parserName': parserName }) }}">
                    <input type="hidden" name="_method" value="POST">
                    {% if app.request.query.has('account') %}
                        <input type="hidden" name="account" value="{{ app.request.query.get('account') }}">
                    {% endif %}
                    <input type="hidden" name="saveOnlyNewTransactions" value="true">
                    <button class="btn btn-primary">{{ 'save_transactions'|trans({'%count%': transactions|length - existingTransactionCount}, 'messages') }}</button>
                </form>
            {% endif %}

            <form
                method="post"
                action="{{ path('validate_transactions', {'statement': statement, 'parserName': parserName }) }}"
                {% if existingTransactionCount > 0 %}
                    onsubmit="return confirm('{% trans %}Are you sure you want to save all transactions, even with duplicated records?{% endtrans %}');"
                {% endif %}
            >
                <input type="hidden" name="_method" value="POST">
                {% if app.request.query.has('account') %}
                    <input type="hidden" name="account" value="{{ app.request.query.get('account') }}">
                {% endif %}
                <button class="btn btn-{{ existingTransactionCount > 0 ? 'danger' : 'primary' }}">{% trans %}Save all transactions{% endtrans %}</button>
            </form>

        {% endif %}

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>{% trans %}Label{% endtrans %}</th>
                    <th>{% trans %}Amount{% endtrans %}</th>
                    <th>{% trans %}Created at{% endtrans %}</th>
                    <th>{% trans %}Account{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr
                    {% if existingTransactionCount > 0 %}
                        {% if transaction.exists %}
                            class="existing-transaction"
                        {% else %}
                             class="new-transaction"
                        {% endif %}
                    {% endif %}
                >
                    <td>{{ transaction.label | capitalize }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.createdAt|date('d/m/Y') }}</td>
                    <td>{{ transaction.account }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div class="alert alert-info" role="alert">
            <a href="{{ path(suggestionPath, suggestionPathParams ?? []) }}">{{ suggestionLabel }}</a>
        </div>

    {% endif %}

{% endblock %}
