{% extends 'base.html.twig' %}

{% block title %}SubCategory{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'sub_category'} %}
{% endblock %}

{% block body %}
    <h1>SubCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ sub_category.name }}</td>
            </tr>
            <tr>
                <th>Transaction type</th>
                <td>{{ sub_category.transactionType }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('sub_category_index') }}">Go back to the sub category list</a>

    <a class="btn btn-outline-primary" href="{{ path('sub_category_edit', {'id': sub_category.id}) }}">Edit</a>

    {{ include('sub_category/_delete_form.html.twig') }}
{% endblock %}
