{% extends 'base.html.twig' %}

{% block title %}TopCategory{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'top_category'} %}
{% endblock %}

{% block body %}
    <h1>TopCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ top_category.name }}</td>
            </tr>
            <tr>
                <th>Transaction type</th>
                <td>{{ top_category.transactionType }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('top_category_index') }}">Go back to the top category list</a>

    <a class="btn btn-outline-primary" href="{{ path('top_category_edit', {'id': top_category.id}) }}">Edit</a>

    {{ include('top_category/_delete_form.html.twig') }}
{% endblock %}
