{% extends 'base.html.twig' %}

{% block title %}TopCategory{% endblock %}

{% block body %}
    <h1>TopCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ top_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ top_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('top_category_index') }}">back to list</a>

    <a href="{{ path('top_category_edit', {'id': top_category.id}) }}">edit</a>

    {{ include('top_category/_delete_form.html.twig') }}
{% endblock %}
