{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap4') }}
    </div>

    <a
        type="button"
        class="btn btn-outline-primary"
        href="{{ path('transaction_index', {'page': pager.currentPage, 'only_show_uncategorized': 'true'}) }}"
    >
        Show only transactions to categorize
    </a>

    <a
        type="button"
        class="btn btn-outline-primary"
        href="{{ path('transaction_index', {'page': pager.currentPage}) }}"
    >
        Show all transactions
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>Amount</th>
                <th>Created_at</th>
                <th>Account</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in pager.currentPageResults %}
            <tr>
                <td>{{ transaction.label }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.account }}</td>
                <td>
                    <a type="button" class="btn btn-outline-primary" href="{{ path('transaction_show', {'id': transaction.id}) }}">show</a>
                    <a type="button" class="btn btn-outline-primary" href="{{ path('transaction_edit', {'id': transaction.id}) }}">edit</a>
                    <a
                        type="button"
                        class="btn btn-outline-primary"
                        href="{{ path('sub_category_transaction_rule_new', {'contains': transaction.label, 'amount': transaction.amount }) }}"
                    >
                            Create a rule
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-primary" href="{{ path('transaction_new') }}">Create new</a>
{% endblock %}
