{% extends 'base.html.twig' %}

{% block title %}{% trans %}Transaction index{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'transaction'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Transaction index{% endtrans %}</h1>

    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap4') }}
        <p>{{ pager.getNbResults }} transactions</p>
    </div>

    <a type="button" class="btn btn-outline-primary" href="{{ path('transaction_new') }}">
        {% trans %}Create a new transaction{% endtrans %}
    </a>
    <a
        type="button"
        class="{{ only_show_uncategorized ? 'active' : '' }} btn btn-outline-primary"
        href="{{ path('transaction_index', {'page': pager.currentPage, 'only_show_uncategorized': ''}) }}"
    >
        {% trans %}Show only transactions to categorize{% endtrans %}
    </a>

    <a
        type="button"
        class="{{ only_show_uncategorized ? '' : 'active' }} btn btn-outline-primary"
        href="{{ path('transaction_index', {'page': pager.currentPage}) }}"
    >
        {% trans %}Show all transactions{% endtrans %}
    </a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>{% trans %}Label{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Created_at{% endtrans %}</th>
                <th>{% trans %}Account{% endtrans %}</th>
                <th>{% trans %}Sub category{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in pager.currentPageResults %}
            <tr>
                <td>{{ transaction.label | capitalize }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.createdAt|date('d/m/Y') }}</td>
                <td>{{ transaction.account }}</td>
                <td>
                  {{ transaction.subCategory }}
                  <em>{% if transaction.subCategory is null %}uncategorized{% endif %}</em>
                </td>
                <td>
                    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('sub_category_transaction_rule_new', {'transaction': transaction.id }) }}"><i class="fas fa-sliders-h"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}No records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
