{% extends 'base.html.twig' %}

{% block title %}{% trans %}Import transactions{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'import_transaction'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Import transactions{% endtrans %}</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6" style="padding: 2rem;">
            <br>
            <h4>Using a PDF file statement</h4>
            <br>

            {{ form_start(pdf_statement_form) }}
                {{ form_widget(pdf_statement_form) }}
                <button class="btn btn-primary">{% trans %}Import transactions from this pdf{% endtrans %}</button>
            {{ form_end(pdf_statement_form) }}
        </div>
        <div class="col-lg-6" style="padding: 2rem;">
            <br>
            <h4>Using a CSV file</h4>
            <br>

            {{ form_start(csv_statement_form) }}
                {{ form_widget(csv_statement_form) }}
                <button class="btn btn-primary">{% trans %}Import transactions from this csv{% endtrans %}</button>
            {{ form_end(csv_statement_form) }}
        </div>
    </div>

    <script type="text/javascript">
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            var fileName = document.getElementById('pdf_statement_statement').files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        });
    </script>
{% endblock %}
