{% extends 'base.html.twig' %}

{% block title %}{% trans %}Validate transactions{% endtrans %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html.twig' with {'current': 'import_transaction'} %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Validate transactions{% endtrans %}</h1>

    {% if transactions is defined %}

        <div class="alert alert-info" role="alert">
            {{ transactions|length }} transactions to import
            (total amount is {{ transactions|reduce((sum, transaction) => sum + transaction.amount, 0) }})
        </div>

        {% if existingTransactionCount > 0 %}
            <div class="alert alert-{{ existingTransactionCount == transactions|length ? 'danger' : 'warning' }}" role="alert">
                {{ existingTransactionCount }} {% trans %}of these transactions already exists!{% endtrans %}
                {% trans %}Are you sure you never imported this statement?{% endtrans %}
            </div>
        {% endif %}

        <form method="post" action="{{ path('validate_transactions', {'statement': statement, 'parserName': parserName }) }}">
            <input type="hidden" name="_method" value="POST">
            <button class="btn btn-primary">{% trans %}Save these transactions{% endtrans %}</button>
        </form>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>{% trans %}Label{% endtrans %}</th>
                    <th>{% trans %}Amount{% endtrans %}</th>
                    <th>{% trans %}Created at{% endtrans %}</th>
                    <th>{% trans %}Account{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.label | capitalize }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.createdAt|date('Y-m-d') }}</td>
                    <td>{{ transaction.account }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}

        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div class="alert alert-info" role="alert">
            <a href="{{ path(suggestionPath, suggestionPathParams ?? []) }}">{{ suggestionLabel }}</a>
        </div>

    {% endif %}

{% endblock %}
